In [8]:
arr = [1,2,3,4,5]
c_arr = arr[:]

c_arr.append(6)

In [10]:
print(c_arr)
print(arr)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [12]:
# String Formating

x = int(input("Enter the first number :")) 
y = int(input("Enter the second number :")) 
z = x + y
sum_ = """
        x = {}
        y = {}
        {} + {} =  {}

"""

print(sum_.format(x,y,x,y,z))

        x = 5
        y = 6
        5 + 6 =  11

In [13]:
x = int(input("Enter the first number :")) 
y = int(input("Enter the second number :")) 
z = x + y
sum_ = """
        x = {0}
        y = {1}
        {0} + {1} = {2}
 
"""

print(sum_.format(x,y,z))

        x = 5
        y = 6
        5 + 6 = 11

In [14]:
x = int(input("Enter the first number :")) 
y = int(input("Enter the second number :")) 
z = x + y
sum_ = """
        x = {X}
        y = {Y}
        {X} + {Y} = {Z}

"""

print(sum_.format(X=x,Y=y,Z=z))

        x = 5
        y = 6
        5 + 6 = 11

In [15]:
x = int(input("Enter the first number :")) 
y = int(input("Enter the second number :")) 
z = x + y
sum_ = f"""
        x = {x}
        y = {y}
       {x} + {y} = {z}

"""

print(sum_)

        x = 5
        y = 6
       5 + 6 = 11

In [18]:
arr.append(7)
print(arr)
arr.insert(2,1)
print(arr)
arr.extend([11,12,13,13,14,15,16])
print(arr)

[1, 2, 1, 3, 4, 5, 7, 11, 12, 13, 13, 14, 15, 16, 7]
[1, 2, 1, 1, 3, 4, 5, 7, 11, 12, 13, 13, 14, 15, 16, 7]
[1, 2, 1, 1, 3, 4, 5, 7, 11, 12, 13, 13, 14, 15, 16, 7, 11, 12, 13, 13, 14, 15, 16]

In [21]:
arr.pop()
print(arr)

[1, 2, 1, 1, 3, 4, 5, 7, 11, 12, 13, 13, 14, 15, 16, 7, 11, 12, 13, 13]

In [23]:
arr.pop(3)
print(arr)

[1, 2, 1, 4, 5, 7, 11, 12, 13, 13, 14, 15, 16, 7, 11, 12, 13, 13]

In [27]:
arr.remove(111)
print(arr)

ValueError: list.remove(x): x not in list

In [29]:
nums = [40,50,60,4,3,5,6,65,34,12]
nums.sort(reverse=True)
print(nums)

[65, 60, 50, 40, 34, 12, 6, 5, 4, 3]

# Dictinary

In [1]:
phone = {
    "Kunal" : 1234567,
    "rahul" : 654321,
    "abhishek" : 98765678,
    "ravi" : 87654323456,
}

print(phone)

{'Kunal': 1234567, 'rahul': 654321, 'abhishek': 98765678, 'ravi': 87654323456}

In [6]:
from pprint import pprint

pprint(phone)

{'Kunal': 1234567, 'abhishek': 98765678, 'rahul': 654321, 'ravi': 87654323456}

In [7]:
print(id(phone), type(phone))

1917957216768 <class 'dict'>

In [12]:
info = {
    [ 1, 2 ]      : "Value",
    [ 3, 4 ] : "values",
}
print(info)

TypeError: unhashable type: 'list'

In [11]:
info = {
    ("one", "two") : "Value",
    ("Three", "Fourth") : "values",
}
print(info)

{('one', 'two'): 'Value', ('Three', 'Fourth'): 'values'}

In [13]:
python_type = {
    "int" : 123,
    "float" : 12.33,
    "complex" : 3 + 5j,
    "string" : "Hello i am string",
    "list" : ['list', "are", "Sequentuial", "Data", "type"],
    "tuple" : ("i", "am", "a", "Tuple"),
    "Dict"  : {"name" : "Dictionary", "type" : "Awesome Data Type", "concept":"mapping"}
}

print(python_type)

{'int': 123, 'float': 12.33, 'complex': (3+5j), 'string': 'Hello i am string', 'list': ['list', 'are', 'Sequentuial', 'Data', 'type'], 'tuple': ('i', 'am', 'a', 'Tuple'), 'Dict': {'name': 'Dictionary', 'type': 'Awesome Data Type', 'concept': 'mapping'}}

In [14]:
pprint(python_type)

{'Dict': {'concept': 'mapping',
          'name': 'Dictionary',
          'type': 'Awesome Data Type'},
 'complex': (3+5j),
 'float': 12.33,
 'int': 123,
 'list': ['list', 'are', 'Sequentuial', 'Data', 'type'],
 'string': 'Hello i am string',
 'tuple': ('i', 'am', 'a', 'Tuple')}